.Chat {
  position: relative;
  width: 90%;
  min-width: 265px;
  height: 90%;
  display: flex;
  flex-flow: column;
  background-color: var(--background-Friend);
  box-sizing: border-box;
  padding: 2px;
  border-radius: 15px;
}
.ChatHeader {
  width: 100%;
  height: 65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background-QuickActions);
}
.ChatHeader .Icons {
  fill: var(--Icon-Fill);
}
.ChatImage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChatImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.ChatImage::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--color-online);
  border-radius: 50%;
  bottom: 2px;
  right: 2px;
}
.ChatSettingsButton,
.ChatSearchButton {
  margin: 0 4px;
}
.ChatSearchBar input {
  width: 98%;
  height: 35px;
  border: 1px solid var(--background-QuickActions);
  outline: none;
  box-sizing: border-box;
  padding: 0px 8px;
  margin: 4px;
  background-color: var(--background-QuickActions);
  color: var(--color-FriendInfo-firstChild);
}
.ChatUserInfo {
  width: 100%;
  padding: 0 10px;
}
.ChatUserInfoName {
  font-weight: bold;
  color: var(--color-FriendInfo-firstChild);
}
.ChatUserInfoStatus {
  font-size: 13px;
  color: #1fe427;
  font-weight: bold;
}
.ChatContent {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.ScrollDown {
  position: absolute;
  right: 10px;
  bottom: 60px;
  background-color: #6e97ee;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  fill: white;
}
.ChatSendMessage {
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  box-sizing: border-box;
}
.ChatSendMessageButton {
  width: 89%;
}

.ChatSendMessage input {
  width: 100%;
  height: 35px;
  background-color: var(--background-QuickActions);
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
  margin: 0;
  transition: 0s;
  box-sizing: border-box;
  font-weight: normal;
  color: var(--color-FriendInfo-firstChild);
}
.ChatSendMessage input:focus {
  border: 2px solid #6f98ee;
}
.chatMessage {
  position: relative;
  display: flex;
  flex-flow: row;
}
.ChatMessageContent {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  padding: 9px;
  border-radius: 10px;
  margin: 5px 0;
  max-width: 180px;
  cursor: pointer;
}
.ChatMessageText {
  width: 90%;
  line-break: anywhere;
}
.ChatMessageTime {
  margin: 8px 0 0 8px;
  font-size: 9px;
}
.ChatMessageDelete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ChatSettings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.ChatSettingsHeader {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--color-FriendInfo-firstChild);
}
.ChatSettingsHeader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.ChatSettingsItems {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.ChatSettingsItem {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  padding: 12px;
  margin: 4px;
  border-radius: 10px;
  background-color: var(--background-QuickActions);
  color: var(--color-FriendInfo-firstChild);
  cursor: pointer;
}
.ChatSettingsItem:hover {
  background-color: var(--background-Friend-Hover);
}
.ChatSettingsItemsName {
  color: #3a3e88;
  font-weight: bold;
  width: 80%;
  padding: 0 10px;
  font-size: 15px;
}
