.input-textarea {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.textarea {
  padding-top: 18px;
  padding-bottom: 18px;
  outline: none;
  resize: none;
  height: 100px;
}
@media only screen and (max-width: 885px) {
  .input-textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
